<div id="noMachine" class="batteryCard" style="display: flex; flex-direction: column; padding: 5px">
      <div  style ="border-radius:5px" class = 'machContainer' id = "workbench" style=" background: linear-gradient(to bottom, #b7cee3 0%, #b393ae 90%, #004a65 117%);">
        <!-- <div></div> -->
          <!-- <h5 class="expnId sample1" style="cursor: pointer" (click)="scrollToId(item.machineId)">{{item.machineId}}</h5> -->
        
        <div id = "workpiece" class="rectangle"></div>
          <div style ="border-radius:5px" class="floor"></div>
         
          <div class="table">
            <div class="hotplate">
              <div id = "machLights_summary" class="red_summary"></div>
              <div id = "machLights_summary" class="yellow_summary"></div>
              <div id = "machLights_summary" class="green_summary"></div>
            </div>
          </div>
          <div class="arm"></div>
          <div class="arm1"></div>
          <div class="cap"></div>
          <div class="cap2"></div>
          <div class="machine_body">
            <div class="nose1"></div> 
            <div class="nose2"></div>
            <div class="nose3"></div>
            <div class="nose4"></div>
            <div class="nose5"></div>
            <div class="nose6"></div>
            <div id= "laser" class="glowing-line ">
              <div class="welding-sparks"></div>
            </div>
            </div>
          </div>
        </div>